name: MLflow CI Workflow

on:
  push:
    branches: [ main ]

jobs:
  training:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 

      - name: Set up Python
        uses: actions/setup-python@v5 #
        with:
          python-version: '3.11'

      - name: Install Libraries
        run: |
          pip install mlflow scikit-learn pandas

      - name: Run MLflow Project
        run: |
          # Menjalankan MLProject tanpa conda
          mlflow run MLProject --no-conda

      - name: Save Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-results-run-${{ github.run_number }}
          path: mlruns/